nav {
  /* width: 100%; */
  display: flex;
  justify-content: space-evenly;
  border-top: 3px solid #000;
  border-bottom: 1px solid #000;
  margin-left: 10%;
  margin-right: 10%;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 900;
  text-transform: capitalize;
  font-family: 'Inter', sans-serif;
}