 /* .title h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: capitalize;
  font-family: 'Inter', sans-serif;
} */

.title-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}

.title-container h1 {
  font-size: 6vw;
  text-transform: capitalize;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .title-container h1 {
    font-size: 12vw;
  }
 }
